h1,
h2 {
    font-family: var(--font-title);
    color: var(--color-clear);
}

.whole_amount_item {
    width: 80%;
    padding: 1.25rem;
    margin: 1.25rem auto;
    background-color: var(--color-grey);
    border-left: 0.2rem var(--color-accent) solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    transition: transform 1s ease;
}

.whole_amount_item:hover {
    background-color: var(--color-brown);
    border-left: 0.2rem var(--color-clear) solid;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    transition: transform 0.5s ease;
}

.whole_amount_item > * {
    max-width: 100%;
}

.item_data {
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.item_info {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.item_info > span {
    font-size: 0.6rem;
}

.whole_amount_item > .item_info h2 {
    font-size: 1.3rem;
    margin: 0;
    flex: 1;
}

.item_cost {
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid var(--color-clear);
    border-radius: 9px 3px;
    padding: 0.3rem;
}

.whole_amount_item button {
    width: min-content;
    border: none;
    background-color: unset;
    padding: 0.3rem;
    margin-left: auto;
}

.whole_amount_item button:hover, 
.whole_amount_item button:active {
    background-color: var(--color-accent);
    border-color: var(--color-clear);
}

@media (max-width: 580px) {
    .whole_amount_item {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .item_info {
        text-align: center;
        flex-direction: column;
    }

    .whole_amount_item .item_info > h2 {
        margin: 0 0 0.1rem 0;
        font-size: 1.2rem;
    }

    .item_data {
        flex-direction: column;
    }

    .whole_amount_item button {
        width: max-content; 
    }
}
