h1,
h2 {
  font-family: var(--font-title);
  color: var(--color-clear);
}

.whole_amount_item {
  width: 80%;
  padding: 1.25rem;
  margin: 1.25rem auto;
  background-color: var(--color-grey);
  border-left: 0.2rem var(--color-accent) solid;
  border-radius: 15px 5px;
  display: flex;
  justify-content: space-between;
  gap:1rem;
  align-items: center;
}

.item_info {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.item_info > span {
  font-size: 0.6rem;
}

.whole_amount_item > .item_info h2 {
  font-size: 1.3rem;
  margin: 0;
  flex: 1;
}

.item_cost {
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--color-clear);
  border-radius: 9px 3px;
  padding: 0.3rem;
  transition: 0.3s 0.1s ease-in;
  transition-property: background-color, color;
}

.item_cost:hover {
  background-color: var(--color-brown);
  color: var(--color-clear);
}

@media (max-width: 580px) {
  .whole_amount_item {
    flex-direction: column;
    justify-content: space-around;
  }

  .item_info {
    text-align: center;
    flex-direction: column;
  }

  .whole_amount_item > .item_info h2 {
    margin: 0 0 0.2rem 0;
    font-size: 1.2rem;
  }
}
