.add-amount {
    text-align: center;
    background-color: var(--color-grey);
    padding: 1rem;
    width: 50rem;
    max-width: 90%;
    margin: 2rem auto;
}

.add-amount > button {
    scale: 1.2;
    max-width: 99%;
}
