.settings {
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.4rem;
}

.setter {
    max-width: 90%;
}

.settings label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
}

.settings input {
    font: inherit;
    width: 21rem;
    max-width: 100%;
    min-height: 2rem;
    overflow-wrap: break-word;
    color: var(--color-clear);
    border: 1px solid var(--color-clear);
    border-radius: 6px 2px;
    background-color: var(--color-grey);
    padding: 4px;
}

#amount-input {
    width: 6rem;
    max-width: 100%;
}

.settings button {
    padding: 1rem 1.5rem;
}

.action {
    display: flex;
    gap: 1rem;
    justify-content: end;
    text-align: right;
}
