.settings {
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.4rem;
}

.setter {
    max-width: 90%;
}

.settings label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.3rem;
}

.settings input {
    font: inherit;
    width: 21rem;
    max-width: 100%;
    min-height: 2rem;
    overflow-wrap: break-word;
    color: var(--color-text-main);
    border: 1px solid var(--color-border-focus);
    border-radius: 6px 2px;
    background-color: var(--color-background-info);
    padding: 4px;
}

.settings input:focus,
.settings input:active {
    background-color: var(--color-background-main);
}

#amount-input {
    width: 6rem;
    max-width: 100%;
}

.action {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    text-align: right;
}

.settings button {
    padding: 1rem 1.5rem;
}

.action button:first-child {
    border-color: var(--color-border-destructive);
    background-color: var(--color-background-info);
}

.action button:first-child:hover {
    color: black;
    border-color: var(--color-background-destructive-hover);
    background-color: var(--color-background-destructive-hover);
}

.action button:last-child {
    color: white;
    background-color: var(--color-background-success);
}

.action button:last-child:hover {
    background-color: var(--color-background-success-hover);
}

.setter .invalid {
    outline: var(--color-border-destructive) dotted 1px;
    border-color: var(--color-border-destructive);
}
