.settings {
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.4rem;
}

.action {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    text-align: right;
}

.settings button {
    padding: 1rem 1.5rem;
}

.action button:first-child {
    border-color: var(--color-border-destructive);
    background-color: var(--color-background-info);
}

.action button:first-child:hover {
    color: black;
    border-color: var(--color-background-destructive-hover);
    background-color: var(--color-background-destructive-hover);
}

.action button:last-child {
    color: white;
    background-color: var(--color-background-success);
}

.action button:last-child:hover {
    background-color: var(--color-background-success-hover);
}

.invalid {
    outline: var(--color-border-destructive) dotted 1px;
    border-color: var(--color-border-destructive);
}
